.title {
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
    font-weight: 700;
}

.textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
    width: 835px;
    height: 270px;
    overflow: auto;
    resize: none;
}

.textarea:focus {
    border: 2px solid #74c365;
    padding: 9px;
}

.keyboard {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(15, [col] 1fr);
    grid-template-rows: repeat(5, [row] 1fr);
    padding: 10px;
    width: 835px;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #eeeeee;
}

.key {
    min-height: 40px;
    min-width: 40px;
    border: 1px solid #000;
    padding: 3px;
    float: left;
}

#Backspace,
#CapsLock,
#Enter,
#ShiftLeft,
#ShiftRight {
    grid-column: span 2;
}

#Space {
    grid-column: span 7;
}




